<!--The content below is only a placeholder and can be replaced.-->
<header>
  <div class="top">
    <div class="img">
      <a href="">
        <img src="../assets/logo.png" alt="">
      </a>
    </div>
    <div class="center">
        <input type="text" placeholder ="请输入关键词">
    </div>
    <div class="right">
        <a href="">
          <img src="../assets/people.png" alt="">
        </a>
      <span>登录</span>
      <span>/</span>
      <span>注册</span>
    </div>
  </div>
  <nav>
    <ul>
      <li><a routerLink="index">作品/文献</a></li>
      <li><a routerLink="vocaloid">画集</a></li>
      <li><a routerLink="artor">艺术家</a></li>
      <li><a routerLink="shop">积分商城</a></li>
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div id="end">
   <a href="#">——END——</a> 
</div>
<footer>
  <div class="contact">
    <div>客服热线:<span>400 650 2566</span></div>
    <p>CopyRight © 2017 Rhythm Art Media Co. All Right </p>
    <p>Reserved. 沪ICP备17003095号</p>
  </div>
  <div class="logo">
    <img src="../assets/footer_logo.jpg" alt="">
  </div>
</footer>
